.tik{
    font-family: sans-serif;
    background-color: #323238;
}
header{
    font-size: 30px;
    background-color: #171531;
}
ul{
    background-color: aqua;
}
img{
    padding: 10px;
}
h3{
    background-color: blak;
    color: #0969A2;
}
img:hover{
    border: 6px solid #5555ff;
    transition: 0.5s ease-out;
    border-radius: 20px;
}
.link-header{
    color: #04d9ff;
}
a{
  color: #04d9ff;
}
